Today:

1. Work in YOUR Bootstrap folder
	example: C:\Users\Dennis\Documents\GitHub\LivingScienceCS\Dennis.Hurst\BootStrap

2. Create a Bootstrap html page with:
	* 3 Rows
	* multiple elements in each row (buttons, tables, ...whatever...)

3. Make the screen look interresting (be creative)

4. Show me what it looks like in different screen sizes.